<template>
  <div>
    <div id="main-wrapper">
      <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a
                href="/"
                title="รับทำโมเดลเรือ และ เครื่องบิน PK MODEL STUDIO"
                aria-label="รับทำโมเดลเรือ"
                class="navbar-brand visible-xs-block"
              >
                <img
                  src="safari-pinned-tab.svg"
                  alt="รับทำโมเดลเรือ และ เครื่องบิน PK MODEL STUDIO"
                  class="logo"
                />
              </a>
              <a
                href="/">
                <h1 class="pull-left text-logo visible-xs-block">PK Model</h1>
              </a>
              <button
                type="button"
                class="navbar-toggle bg-primary"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="#cii3-page1" class="visible-xs-block">
                    <i class="fa fa-home"></i>หน้าแรก
                  </a>
                  <a
                    href="#cii3-page1"
                    title="รับทำโมเดลเรือ และ เครื่องบิน PK MODEL STUDIO"
                    aria-label="รับทำโมเดลเรือ"
                    class="hidden-xs"
                  >
                    <img
                      class="img-responsive"
                      src="safari-pinned-tab.svg"
                      alt="รับทำโมเดลเรือ และ เครื่องบิน PK MODEL STUDIO"
                    />
                  </a>
                </li>
                <li>
                  <a href="#cii3-page2"><i class="fa fa-picture-o"></i>ผลงาน</a>
                </li>
                <li>
                  <a href="#cii3-page3"><i class="fa fa-laptop"></i>บริการ</a>
                </li>
                <li>
                  <a href="#cii3-page4"
                    ><i class="fa fa-users"></i>เกี่ยวกับเรา</a
                  >
                </li>
                <li>
                  <a href="#cii3-page5"
                    ><i class="fa fa-envelope-o"></i>ติดต่อเรา</a
                  >
                </li>
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
          <!--/.container-fluid -->
        </div>
        <div class="image-section">
          <div class="image-container">
            <img
              data-src="pkmodel/รับทำโมเดลเรือเครื่องบิน (14).jpg"
              id="cii3-page1-img"
              class="main-img inactive lazy"
              alt="Home"
              lazyload="true"
            />
            <img
              data-src="pkmodel/รับทำโมเดลเรือเครื่องบิน (17).jpg"
              id="cii3-page2-img"
              class="inactive lazy"
              alt="Services"
              lazyload="true"
            />
            <img
              data-src="pkmodel/รับทำโมเดลเรือเครื่องบิน (40).jpg"
              id="cii3-page3-img"
              class="inactive lazy"
              alt="Awards"
              lazyload="true"
            />
            <img
              data-src="pkmodel/รับทำโมเดลเรือเครื่องบิน (275).jpg"
              id="cii3-page4-img"
              class="inactive lazy"
              alt="Company"
              lazyload="true"
            />
            <img
              data-src="pkmodel/รับทำโมเดลเรือเครื่องบิน (130).jpg"
              id="cii3-page5-img"
              class="inactive lazy"
              alt="Contact"
              lazyload="true"
            />
          </div>
        </div>

        <div class="row">
          <div
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 templatemo-content-wrapper"
          >
            <div class="templatemo-content">
              <section id="cii3-page1-text" class="active">
                <div class="col-sm-12 col-md-12">
                  <h2>ผลงานบางส่วน</h2>
                  <p>
                    ผลงานบางส่วน เป็นงานทำแฮนเมด 100% เริ่มตั้งแต่ปั้นชินงาน
                    ไปจนลงสีและติดสติกเกอร์ ทุกชิ้นงานใส่ใจ ประณีต พิถีพิถัน
                    เพื่อส่งมอบให้ลูกค้าทุกๆท่าน เหมาะสำหรับใช้ประดับตกแต่ง
                    เป็นของขวัญ ของฝาก ของที่ระรึกในโอกาสสำคัญต่างๆ หรือ
                    ใช้เพื่อการศึกษา กิจกรรมต่าง ๆ ทางการบิน และการเดินเรือ
                  </p>
                  <div id="slider" class="flexslider">
                    <ul class="slides">
                      <li v-for="item of 23" :key="item">
                        <a
                          data-fancybox="gallery"
                          :href="`modelpk/รับทำโมเดล pk model (${item}).jpg`"
                        >
                          <img
                            :data-src="`modelpk/รับทำโมเดล pk model (${item}).jpg`"
                            alt="รับทำโมเดล เรือ และ เครื่องบิน"
                            class="lazy"
                            lazyload="true"
                        /></a>
                      </li>
                    </ul>
                  </div>
                  <div id="carousel" class="flexslider">
                    <ul class="slides">
                      <li v-for="item of 23" :key="item">
                        <img
                          :data-src="`modelpk/รับทำโมเดล pk model (${item}).jpg`"
                          alt="รับทำโมเดล เรือ และ เครื่องบิน"
                          class="lazy"
                          lazyload="true"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12">
                  <h2>วิดีโอของเรา</h2>
                  <h3>Suvarnabhumi​ Airport​</h3>
                  <p>
                    อัพเดทงานสนามบินสุวรรณภูมิ ขนาด 1:400
                    ในส่วนของพื้นและหลุมจอด Suvarnabhumi Airport Diorama 1:400
                    by PK model.
                    #PKMODEL​#modeling​#Aircraft​#model​#airport​#modelairport
                    #suvanabhumi
                  </p>
                  <div class="videoWrapper">
                    <iframe
                      class="lazy"
                      data-src="https://www.facebook.com/plugins/video.php?height=316&href=https%3A%2F%2Fwww.facebook.com%2F107565294213176%2Fvideos%2F952915638530078%2F&show_text=false&width=560"
                      width="560"
                      height="316"
                      style="border: none; overflow: hidden"
                      scrolling="no"
                      frameborder="0"
                      allowfullscreen="true"
                      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    ></iframe>
                  </div>
                  <h3>USS LHD6, HANDMADE​ SCALE 1/700</h3>
                  <p>
                    Model​USS LHD6, HANDMADE​ SCALE 1/700 #USS #LHD6 #USSLHD6
                    #SHIPMODEL
                  </p>
                  <div class="videoWrapper">
                    <iframe
                      class="lazy"
                      data-src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F107565294213176%2Fvideos%2F644256109639288%2F&show_text=false&width=560"
                      width="560"
                      height="314"
                      style="border: none; overflow: hidden"
                      scrolling="no"
                      frameborder="0"
                      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                      allowFullScreen="true"
                    ></iframe>
                  </div>
                  <h3>#shipmodel​</h3>
                  <p>#shipmodel​ #cargoship</p>
                  <div class="videoWrapper">
                    <iframe
                      class="lazy"
                      data-src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F107565294213176%2Fvideos%2F1651393934998847%2F&show_text=false&width=560"
                      width="560"
                      height="314"
                      style="border: none; overflow: hidden"
                      scrolling="no"
                      frameborder="0"
                      allowfullscreen="true"
                      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    ></iframe>
                  </div>
                  <h3>#LPGVESSLE​ #shipmodel​</h3>
                  <p>ชมงานเก่ากันไปก่อนครับผม^^ #shipmodel​ #LPGVESSLE</p>
                  <div class="videoWrapper">
                    <iframe
                      class="lazy"
                      data-src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F107565294213176%2Fvideos%2F197551151218759%2F&show_text=false&width=560"
                      width="560"
                      height="314"
                      style="border: none; overflow: hidden"
                      scrolling="no"
                      frameborder="0"
                      allowfullscreen="true"
                      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    ></iframe>
                  </div>
                </div>
              </section>
              <!-- /.cii3-page1-text -->
              <section id="cii3-page2-text" class="inactive">
                <div class="col-sm-12 col-md-12">
                  <h2>ผลงานทั้งหมดของเรา</h2>

                  <div
                    v-for="item in json.items"
                    :key="item.guid"
                    class="block-post"
                  >
                    <h3>{{ item.author }}</h3>
                    <div class="text-white">
                      {{ new Date(item.pubDate).toLocaleDateString("th-TH") }}
                      {{ new Date(item.pubDate).toLocaleTimeString("th-TH") }}
                    </div>
                    <p v-html="item.description"></p>
                    <div class="d-clear"></div>
                    <a
                      v-for="image in item.image"
                      :key="image"
                      :data-fancybox="item.guid"
                      :href="image"
                      class="d-item lazy"
                      :data-bg="image"
                    >
                      <!-- <img
                        class="img-responsive"
                        :data-src="image"
                        :alt="item.author"
                        loading="lazy"
                      /> -->
                    </a>
                    <div class="d-clear"></div>
                  </div>
                </div>
              </section>
              <!-- /.cii3-page2-text -->
              <section id="cii3-page3-text" class="inactive">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h2>รับทำโมเดล</h2>
                  <p>
                    PK Aircraft and ship Model ผู้ผลิตและจำหน่าย โมเดลเครื่องบิน
                    (เครื่องบินจำลอง) และ โมเดลเรือ (เรือจำลอง) มากมายหลายแบบ
                    อาทิเช่น เครื่องบินโดยสาร เครื่องบินฝึก เครื่องบินพลเรือน
                    แบบต่างๆ เรือบรรทุกสินค้า เรือพาณิชย์ เรือรบแบบต่างๆ ตามแบบ
                    ตามสั่ง
                  </p>
                  <p>
                    เพื่อใช้ประดับตกแต่ง เป็นของขวัญ ของฝาก
                    ของที่ระรึกในโอกาสสำคัญต่างๆ หรือ ใช้เพื่อการศึกษา
                    กิจกรรมต่าง ๆ ทางการบิน และการเดินเรือ
                    ท่านที่สนใจสั่งทำสินค้ากับทางเรา สามารถติดต่อสอบถามได้ทาง
                    กล่องข้อความเพจได้เลยครับ
                  </p>
                  <h3>ทำไมต้องเป็นเรา</h3>
                  <ul>
                    <li>เราเลือกใช้วัสดุคุณภาพดี แข็งแรงทนทาน</li>
                    <li>ใส่ข้อความของคุณลงในโมเดลได้</li>
                    <li>ปรับแต่งรูปแบบให้เหมาะกับคุณ</li>
                    <li>สลักชื่อ ทำเป็นของขวัญได้</li>
                    <li>ทุกชิ้นงานเราทำด้วยช้างฝีมือ 100%</li>
                  </ul>
                </div>
              </section>
              <!-- /.cii3-page3-text -->
              <section id="cii3-page4-text" class="inactive">
                <h2 class="text-center">เกี่ยวกับเรา</h2>
                <div class="col-sm-6 col-md-6">
                  <h3>เรารักในงานบริการ</h3>
                  <p>
                    รักในงานบริการและงานฝีมือ ทำให้คุณมั่นใจได้ว่าชื้อนงานต่างๆ มีคุณภาพสูง งานละเอียด และเรายังใช้วัสดุคุณภาพดีในการทำโมเดลแต่ละชิ้นงาน 
                  </p>
                </div>
                <div class="col-sm-6 col-md-6">
                  <h3>เป่าหมายของเรา</h3>
                  <p>
                    สร้างชิ้นงานที่มีคุณภาพระดับสากล ทุกชิ้นงานของเรา จำหน่ายทั้งในไทย และต่างประเทศ สามารถเชื่อมั่นใจตัวผลงานของเราได้ การันตีด้วยลูกค้าระดับประเทศ ทั้งในไทยและต่างประเทศ ผลงานของเรายังถูกนำไปเป็นโมเดลในการทำภาพยนตร์ระดับโลกในหลายๆเรื่อง และยังถูกนำไปใช้ในงานประกอบการศึกษาในระดับภาพธุรกิจ ลูกค้าจึงสามารถมั่นใจในทุกๆชิ้นงานของทางเราได้
                  </p>
                </div>
              </section>
              <!-- /.cii3-page4-text -->

              <section id="cii3-page5-text" class="inactive">
                <div class="col-sm-12 col-md-12">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <h2>ติดต่อเรา</h2>
                      <p>
                        093 562 5565 (PK Model)<br>
                        080 401 6342 (PK Model)<br><br>
                        <a href="http://bit.ly/PKModelStudio" target="_blank" rel="noopener noreferrer">Facebook</a>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <h3>แผนที่</h3>
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1935.546215045543!2d100.67018671742136!3d14.012533409857012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d7f2a9a28c31f%3A0x5c1bdc6016a57ac9!2z4Lij4Lix4Lia4LiX4Liz4LmC4Lih4LmA4LiU4Lil4LmA4LiE4Lij4Li34LmI4Lit4LiH4Lia4Li04LiZIOC5geC4peC4sCDguYDguKPguLfguK0gLSBQSyBNb2RlbCBTdHVkaW8!5e0!3m2!1sth!2sth!4v1614018578608!5m2!1sth!2sth"
                          width="600"
                          height="450"
                          style="border: 0"
                          allowfullscreen=""
                          loading="lazy"
                          class="embed-responsive-item"
                        ></iframe>
                      </div>
                      <p>
                        Inizio 2 เลขที่ 59/245, ต.คลองสาม, อ.คลองหลวง, จ.ปทุมธานี, 12120
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </section>
              <!-- /.cii3-page5-text -->
            </div>
            <!-- /.templatemo-content -->
          </div>
          <!-- /.templatemo-content-wrapper -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="templatemo-site-title">
              <div class="text-center">
                <img
                  class="img-responsive max-256"
                  src="safari-pinned-tab.svg"
                  alt="รับทำโมเดลเรือ และ เครื่องบิน PK MODEL STUDIO"
                />
              </div>
              <h1 class="site-name"><a href="#">PK MODEL STUDIO</a></h1>
              <h2 class="slogon">
                <a href="#">รับทำโมเดลเรือ และ เครื่องบิน</a>
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
            <div class="footer-wrapper">
              <p class="social-icons">
                <a
                  target="_blank"
                  href="https://www.google.com/search?q=%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%82%E0%B8%A1%E0%B9%80%E0%B8%94%E0%B8%A5+PKmodelstudio.com&oq=%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%82%E0%B8%A1%E0%B9%80%E0%B8%94%E0%B8%A5+PKmodelstudio.com"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a target="_blank" href="http://bit.ly/PKModelStudio"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a
                  target="_blank"
                  href="https://www.google.com/search?q=%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%82%E0%B8%A1%E0%B9%80%E0%B8%94%E0%B8%A5+%E0%B9%80%E0%B8%84%E0%B8%A3%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%9A%E0%B8%B4%E0%B8%99+%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD+pkmodelstudio.com&oq=%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%97%E0%B8%B3%E0%B9%82%E0%B8%A1%E0%B9%80%E0%B8%94%E0%B8%A5+%E0%B9%80%E0%B8%84%E0%B8%A3%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%9A%E0%B8%B4%E0%B8%99+%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD+pkmodelstudio.com"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a
                  target="_blank"
                  href="https://www.google.com/search?q=pk model studio&oq=pk model studio"
                  ><i class="fa fa-youtube"></i
                ></a>
                <a
                  target="_blank"
                  href="https://www.google.com/search?q=pkmodelstudio.com&oq=pkmodelstudio.com"
                  ><i class="fa fa-instagram"></i
                ></a>
              </p>
              <p id="tm-copyright">
                PKModelStudio.com &copy; รับทำโมเดล เครื่องบิน เรือ PK Aircraft
                & Ship Studio
              </p>
            </div>
          </div>
          <!-- /.footer -->
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /#main-wrapper -->

    <div id="preloader">
      <div id="status">
        <img
          class="img-responsive"
          src="safari-pinned-tab.svg"
          alt="รับทำโมเดลเรือ และ เครื่องบิน PK MODEL STUDIO"
        />
        <div class="text-center">
          <img src="images/status.gif" />
        </div>
      </div>
    </div>
    <!-- /#preloader -->
  </div>
</template>

<script>
export default {
  head() {
    return {
      script: [
        { src: "js/bootstrap.min.js", body: true },
        { src: "js/templatemo_script.js", body: true },
      ],
    };
  },
  asyncData() {
    var json = require("assets/json.json");
    // console.log(json);
    return {
      json: json,
    };
  },
};
</script>